<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <title>Zadejte heslo pro paste - {{ short_id }} | LixCis.cz</title>
</head>
<body class="flex flex-col min-h-screen relative">
{% include 'includes/navbar.html' %}
<main class="flex-1 w-full max-w-7xl mx-auto px-2 my-20">
    <div class="flex flex-col gap-4">
        <h1 class="text-lg sm:text-xl mb-2 font-medium">Zadejte heslo pro paste - {{ short_id }}</h1>
        <form action="{{ url_for('show_paste', short_id=short_id) }}" method="POST">
            <div class="flex flex-col gap-2">
                <label for="password" class="text-sm">Heslo</label>
                <input type="password" name="password" maxlength="64" id="password" class="input input-bordered w-full" required>
                {% if error %}
                    <p class="text-red-500 text-sm">{{ error }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary mt-4">Ověřit heslo</button>
        </form>
    </div>
</main>
{% include 'includes/footer.html' %}
</body>
</html>
