<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>
    <title>Uložený paste | {{ short_id }}</title>
    <style>
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        pre code.hljs {
            padding: 0 !important;
        }
        .hljs {
            background: #fff;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen relative">
{% include 'includes/navbar.html' %}
<main class="flex-1 w-full max-w-7xl mx-auto px-2 my-20">
    <div class="flex flex-row gap-2 justify-between items-end mb-3">
        <div>
            <h1 class="text-lg sm:text-xl mb-2 font-medium">Váš uložený text - {{ short_id }}</h1>
            <p class="text-sm text-gray-500">Vytvořeno: <strong>{{ created_at }}</strong></p>
        </div>
        <div class="mt-4 flex flex-col sm:flex-row gap-2 items-end">
            <button id="download-btn" class="btn max-sm:btn-sm btn-primary sm:mr-2">Stáhnout</button>
            <button id="copy-btn" class="btn max-sm:btn-sm btn-outline btn-primary">Zkopírovat</button>
        </div>
    </div>

    <pre id="content" class="shadow bg-base-100 border border-primary min-h-24 p-2 text-sm sm:p-4 rounded whitespace-pre-wrap break-words max-w-full">{{ content | safe }}</pre>

    <div id="alert-success" class="absolute top-10 left-1/2 transform -translate-x-1/2 w-80 p-4 mb-4 text-sm text-white bg-green-500 rounded shadow-md hidden">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="ml-2">Text zkopírován do schránky!</span>
        </div>
    </div>
    <div id="alert-error" class="absolute top-10 left-1/2 transform -translate-x-1/2 w-80 p-4 mb-4 text-sm text-white bg-red-500 rounded shadow-md hidden">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="ml-2">Chyba při kopírování textu!</span>
        </div>
    </div>
</main>
{% include 'includes/footer.html' %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const copyButton = document.getElementById('copy-btn');
        const downloadButton = document.getElementById('download-btn');
        const contentElement = document.getElementById('content');
        const alertSuccess = document.getElementById('alert-success');
        const alertError = document.getElementById('alert-error');

        copyButton.addEventListener('click', function () {
            copyButton.disabled = true;

            const content = contentElement.innerText || contentElement.textContent;
            navigator.clipboard.writeText(content)
                .then(() => {
                    alertSuccess.classList.remove('hidden');
                    setTimeout(() => alertSuccess.classList.add('hidden'), 1000);
                })
                .catch(err => {
                    alertError.classList.remove('hidden');
                    setTimeout(() => alertError.classList.add('hidden'), 1000);
                    console.error('Chyba při kopírování textu: ', err);
                })
                .finally(() => {
                    setTimeout(() => {
                        copyButton.disabled = false;
                    }, 1000);
                });
        });

        downloadButton.addEventListener('click', function () {
            const content = contentElement.innerText || contentElement.textContent;
            const blob = new Blob([content], { type: 'text/plain' });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = "paste_{{ short_id }}.txt";
            link.click();
        });
    });
</script>
</body>
</html>
